@theme {
  --font-primary: "Fira Code";
  --text-size-sm: 18px;
}

.mySwiper {
  margin-top: 30px;
  width: 100%;
  max-width: 1320px;
  height: 570px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper .swiper-slide {
  font-size: 18px;
  background: #444;
  display: flex;
  align-items: center;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #ffffff;
  height: 21px;
  width: 21px;
}

.mySwiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #ffffff;
  opacity: 1;
  margin: 0 6px !important;
  transition: all 0.3s ease;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #ffffff;
  width: 17px;
  height: 17px;
}

.hero__title {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  max-width: 500px;
  color: #ffffff;
  margin-left: 32px;
}

.hero__title h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 120%;
}

.hero__title p {
  font-family: var(--font-primary);
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 150%;
}

.swiperHead-btn {
  display: flex;
}
